# Ignore Gradle project-specific cache directory
.gradle

# Ignore VSCode project-specific cache directory
.vscode

# Ignore IntelliJ project-specific cache directory
.idea

# Ignore Gradle build output directory
build
bin
libs